aiohttp
apscheduler
asyncpraw
binance
firebase-admin
feedparser
gspread
httpx
matplotlib
oauth2client
pandas
praw
python-dotenv
python-telegram-bot
requests
streamlit
ta
textblob
tzlocal<3.0
yfinance
python-binance>=1.0.17
python-dotenv
pandas
numpy
ta
gspread
telethon>=1.24.0
firebase-admin>=5.2.0
aiohttp>=3.7.4
xgboost